<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a href="javascript:;" class="tip-bottom"><i class="icon-home"></i> Ana Sayfa</a></div>
	</div>

	<div class="container-fluid">
		<div class="quick-actions_homepage">
            <ul class="quick-actions">
                <li class="bg_lb"> <a routerLink="/Admin/Category"> <i class="icon-sitemap"></i> Category</a> </li>
                <li class="bg_lr"> <a routerLink="/Admin/Content"> <i class="icon-edit"></i> Content</a> </li>
            </ul>
		</div>
	</div>
</div>
