<div id="content">
	<div id="content-header">
		<div id="breadcrumb"> <a class="tip-bottom"><i class="icon-home"></i> Translation Ekle</a></div>
	</div>
	<div class="container-fluid">
		<form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
			<fieldset>
				<div class="editor-label">
					TransName
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="TransName" [ngModel]="model?.TransName" formControlName="TransName" type="text" />
					<br />
					<!-- TransName -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					ShortName
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="ShortName" [ngModel]="model?.ShortName" formControlName="ShortName" type="text" />
					<br />
					<!-- ShortName -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Flag
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Flag" [ngModel]="model?.Flag" formControlName="Flag" type="file" name="flagTemp" (change)="onFlagFileSelect($event)" accept="image/*" />
					<br />
					<!-- Flag -->
				</div>
				<div class="clear"></div>

				<div class="editor-label">
					Active
				</div>
				<div class="clear"></div>
				<div class="editor-field">
					<input id="Active" [ngModel]="model?.Active" formControlName="Active" type="checkbox" />
					<br />
					<!-- Active -->
				</div>
				<div class="clear"></div>

				<p>
					<div class="alert alert-error">
						<strong>Hata! </strong> <span class="alertMessage">{{ model?.Mesaj }}</span>
					</div>

					<input type="submit" value="Kaydet" class="btn btn-success btn-save" [disabled]="!insertForm.valid" />
					<a routerLink="/Admin/Translation" class="btn btn-danger btn-cancel">İptal</a>
			</fieldset>
		</form>
	</div>
</div>
