<div id="sidebar">
	<a href="javascript:;" class="visible-phone"><i class="icon icon-reorder"></i> Menü</a>
	<ul>
		<li data-url="Index" class="active">
			<a routerLink="/Admin/Index"><i class="icon icon-home"></i> <span>Ana Sayfa</span></a>
		</li>
		<li class="submenu">
			<a href="javascript:;"><i class="icon icon-home"></i> <span>Category</span></a>
			<ul>
				<li data-url="Category"><a routerLink="/Admin/Category">Category</a></li>
				<li data-url="Content"><a routerLink="/Admin/Content">Content</a></li>
			</ul>
		</li>
	</ul>
</div>
