<div id="sidebar">
	<a href="javascript:;" class="visible-phone"><i class="icon icon-reorder"></i> Menü</a>
    <ul>
        <li data-url="Index" class="active">
            <a routerLink="/Admin/Index"><i class="icon icon-home"></i> <span>Ana Sayfa</span></a>
        </li>
        <li data-url="Category" class="active">
            <a routerLink="/Admin/Category"><i class="icon icon-sitemap"></i> <span>Category</span></a>
        </li>
        <li data-url="Content" class="active">
            <a routerLink="/Admin/Content"><i class="icon icon-edit"></i> <span>Content</span></a>
        </li>
    </ul>
</div>
