<div id="sidebar">
	<a href="javascript:;" class="visible-phone"><i class="icon icon-reorder"></i> Menü</a>
	<ul>
		<li data-url="Home" class="active">
			<a routerLink="/Admin/Home"><i class="icon icon-home"></i> <span>Ana Sayfa</span></a>
		</li>
		<li class="submenu">
			<a href="javascript:;"><i class="icon icon-sitemap"></i> <span>Category</span></a>
			<ul>
				<li data-url="Category"><a routerLink="/Admin/Category">Category</a></li>
				<li data-url="CategoryT"><a routerLink="/Admin/CategoryT">CategoryT</a></li>
			</ul>
		</li>
		<li class="submenu">
			<a href="javascript:;"><i class="icon icon-edit"></i> <span>Content</span></a>
			<ul>
				<li data-url="Content"><a routerLink="/Admin/Content">Content</a></li>
				<li data-url="ContentT"><a routerLink="/Admin/ContentT">ContentT</a></li>
			</ul>
		</li>
		<li data-url="File">
			<a routerLink="/Admin/File"><i class="icon icon-file"></i> <span>File</span></a>
		</li>
		<li data-url="Picture">
			<a routerLink="/Admin/Picture"><i class="icon icon-picture"></i> <span>Picture</span></a>
		</li>
        <li data-url="Translation">
            <a routerLink="/Admin/Translation"><i class="icon icon-globe"></i> <span>Translation</span></a>
        </li>
		<li data-url="Users">
			<a routerLink="/Admin/Users"><i class="icon icon-user"></i> <span>Users</span></a>
		</li>
	</ul>
</div>
